<p id="notice"><%= notice %></p>

<h1>My Profile</h1>

<table>
  <thead>
    <!-- <tr>
      <th>User</th>
      <th>Name</th>
      <th>Picture</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr> -->
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <% if profile.user_id == current_user.try(:id) %>
        <td><%= profile.name %></td>
        <td><%= image_tag profile.picture,
                          id: "HomeImage",
                          class: "profilepic" %></td>
        <td><%= profile.bio %></td>
        <%= pluralize((profile.votes.count-profile.downvotes.count), "vote") %>
        <div class="voters">
        <%= button_to '/\\', upvote_profile_path(profile), method: :post %>
        <%= button_to '\\/', downvote_profile_path(profile), method: :post %>
        </div>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% @users.each do |user| %>
<% if user.id == current_user.try(:id) && user.profile == nil %>
<%= link_to 'New Profile', new_profile_path %>
<% end %>
<% end %>
