



<p id="notice"><%= notice %></p>
<!-- <div class="header-container">
<div class="header wrapper"><h1>Dashboard</h1></div> -->
  <div class="pp">
    <% if current_user.profile.picture == "" %>
      <%= image_tag "http://www.mathblogging.org/images/icons/default-avatar.jpg" %>
    <% else %>
      <%= image_tag current_user.profile.picture %>
    <% end %>
  </div>
  <div class="editpro">
  <%= link_to 'Edit', edit_profile_path(@profile) %>
  </div>

  <div class="block green">
    <div class="heading">
      Info
    </div>
    <div class="num">
      <p class = "profilename">
      <%= @profile.name %>
      </p>
      <p>
        <%= @profile.bio %>
      </p>
      <% if @profile.deactivate? %>
      <Span> Your Account has been deactivated <span><br><br>
      <% else %>




      <% if @profile.vendor? %>

      <h2 class = "profilevendor">
        <strong>Company:</strong>
        <%= @profile.company %>
      </h2>

      <h2 class = "profilevendor">
        <strong>Address:</strong>
        <%= @profile.address %>
      </h2>
      <h2 class = "profilevendor">
        <strong>Phone:</strong>
        <%= @profile.phone %>
      </h2>
      <h2 class = "profilevendor">
        <strong>License Type:</strong>
        <%= @profile.license_type %>
      </h2>
      <h2 class = "profilevendor">
        <strong>License Number:</strong>
        <%= @profile.license_number %>
      </h2>

      <% end %>
    </div>
  </div>
  <div class="block orange">
      <% if current_user.profile.vendor  %>
          <div class="heading">
            Bidded Projects
          </div>
          <% if current_user.bids.empty?%>
              <p>No Current Bidded Projects</p>
          <% else %>
              <% current_user.bids.each do |bid| %>
              $<%= bid.bid %>
              <%= link_to bid.project.title, bid.project %>
              <% end %>
          <% end%>

      <% else %>
        <div class="heading">
          Projects
        </div>
        <div class="num">
            <% if current_user.projects.empty? %>
            <p>No current projects</p>
            <% else %>
            <% current_user.projects.each do |project| %>
            <%= link_to project.title, project %>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="block blue">
    <div class="heading">
      Activity
    </div>
    <div class="num">
      <% @activities.each do |activity| %>
        <div class="activityp" style="margin-top: 10px;">
          <%= link_to activity.owner.try(:email), profiles_path(activity.owner_id) %>
          <%= render_activity activity %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="block yellow">
    <div class="heading">
      Reviews
    </div>
    <div class="num">101</div>
  </div>

  <!-- <div class="block blue">
    <div class="heading">
      Longer Heading 5
    </div>
    <div class="num">09:40</div>
  </div> -->

</div>





<br>
<br>

<% end %>
