

<p id="notice"><%= notice %></p>
<!-- <div class="header-container">
<div class="header wrapper"><h1>Dashboard</h1></div> -->




  <div class="block green">
    <div class="heading">
      Info
    </div>
    <div class="num">
      <p class = "profilename">
      <%= @profile.name %>
      </p>
      <p>
        <%= @profile.bio %>
      </p>
    </div>
  </div>
  <div class="block orange">
    <div class="heading">
      Projects
    </div>
    <div class="num">
      <% current_user.projects.each do |project| %>
      <%= link_to project.title, project %>
      <% end %>
    </div>
  </div>

  <div class="block purple">
    <div class="heading">
      Activity
    </div>
    <div class="num">101</div>
  </div>

  <div class="block yellow">
    <div class="heading">
      Reviews
    </div>
    <div class="num">101</div>
  </div>

  <!-- <div class="block blue">
    <div class="heading">
      Longer Heading 5
    </div>
    <div class="num">09:40</div>
  </div> -->

</div>

<% if @profile.deactivate? %>
<Span> Your Account has been deactivated <span><br><br>
<% else %>
<h1 class = "profilepic">
  <%= image_tag @profile.picture %></td>
</h1>
<div class = "profileinfo">
<h2 class = "profilebio">
  <strong>Bio:</strong>
  <%= @profile.bio %>
</h2>

<h2 class = "profilevendor">
  <strong>Vendor:</strong>
  <%= @profile.vendor %>
</h2>

<% if @profile.vendor? %>

<h2 class = "profilevendor">
  <strong>Company:</strong>
  <%= @profile.company %>
</h2>

<h2 class = "profilevendor">
  <strong>Address:</strong>
  <%= @profile.address %>
</h2>
<h2 class = "profilevendor">
  <strong>Phone:</strong>
  <%= @profile.phone %>
</h2>
<h2 class = "profilevendor">
  <strong>License Type:</strong>
  <%= @profile.license_type %>
</h2>
<h2 class = "profilevendor">
  <strong>License Number:</strong>
  <%= @profile.license_number %>
</h2>

<% end %>


<% unless @profile.vendor == false %>
<h2 class = "mybids">My Bids</h2>
<% @bids.each do |bid| %>
<% if bid.user == current_user %>
<%= link_to bid.project.title, project_path(bid.project_id) %> $<%= link_to bid.bid, project_path(bid.project_id) %><br><br>
<% end %>
<% end %>
<% end %>
<br>
<br>

<% end %>



<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
