<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/normalize.css">
      <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/main.css">
  </head>
  <body class="profshow1">


<head>
</head>
<div class="projectnew">

<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul>
  <legend><span class="number">+</span>My Project</legend>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :ends %><br>
    <%= f.text_field :ends %>
  </div>
  <div class="field">
    <%= f.label :location_city %><br>
    <%= f.text_field :location_city %>
  </div>
  <div class="field">
    <%= f.label :budget %><br>
    <%= f.number_field :budget %>
  </div>
  <div class="field">
  <%= f.label :photo %>
  <%= f.file_field :main %>
</div>

  <h4 class="please">Please check all that apply to your project</h4>

  <div class="categories">
    <div class="flexbox">
      <div class="container1">
  <div class="kitch">

    <label><input type="checkbox" name="name" value="">Kitchen<label>
  </div>
  <div class="ac">

    <label><input type="checkbox" name="name" value="">Air Conditioning<label>
  </div>
  <div class="roof">

    <label><input type="checkbox" name="name" value="">Roof<label>
  </div>
  <div class="extg">

    <label><input type="checkbox" name="name" value="">Exterior<label>
  </div>
  <div class="paint">

    <label><input type="checkbox" name="name" value="">Paint<label>
  </div>

</div><%# closed container 1%>
<div class="container2">
  <div class="floor">

    <label><input type="checkbox" name="name" value="">Floor<label>
  </div>
  <div class="bath">

    <label><input type="checkbox" name="name" value="">Bath<label>
  </div>
  <div class="pool">

    <label><input type="checkbox" name="name" value="">Pool<label>
  </div>
  <div class="drive">

    <label><input type="checkbox" name="name" value="">Driveway<label>
  </div>
  <div class="land">

    <label><input type="checkbox" name="name" value="">Landscaping<label>
  </div>

  </div><%# closed container 2%>

  <div class="container3">
  <div class="fence">

    <label><input type="checkbox" name="name" value="">Fence<label>
  </div>
  <div class="win">

    <label><input type="checkbox" name="name" value="">Windows<label>
  </div>
  <div class="elec">

    <label><input type="checkbox" name="name" value="">Electrical<label>
  </div>
  <div class="plumb">

    <label><input type="checkbox" name="name" value="">Plumbing<label>
  </div>
  <div class="handy">

    <label><input type="checkbox" name="name" value="">Handy<label>
  </div>
</div><%# closed contianer3%>
</div><%# /.flexbox%>
</div>
</ul>


  <div id="sqft" style="display:none;">
    <%= f.label :room_sqft %><br>
    <%= f.text_field :sqft %>
  </div>
  <div id="kit" style="display:none;">
    <%= f.label :number_of_cabinets %><br>
    <%= f.number_field :number_of_cabinets %>
    <br>
    <%= f.label :countertop_style %><br>
    <%= f.text_field :countertop_style %>
    <br>
    <%= f.label :counter_top_length %><br>
    <%= f.number_field :counter_top_length %>
  </div>
  <div id="outlets" style="display:none;">
    <%= f.label :number_of_outlets %><br>
    <%= f.number_field :number_of_outlets %>
  </div>
    <div id="light" style="display:none;">
    <%= f.label :light_fixture_type %><br>
    <%= f.text_field :light_fixture_type %>
  </div>
  <div id="floor" style="display:none;">
    <%= f.label :floor_sqft %><br>
    <%= f.number_field :floor_sqft %>
    <br>
    <%= f.label :floor_type %><br>
    <%= f.text_field :floor_type %>
    <br>
    <%= f.label :floor_demo %><br>
    <%= f.text_field :floor_demo %>
  </div>
  <div id="bath" style="display:none;">
    <%= f.label :vanity_width %><br>
    <%= f.number_field :vanity_width %>
    <br>
    <%= f.label :tub_length %><br>
    <%= f.number_field :tub_length %>
    <br>
    <%= f.label :shower_sqft %><br>
    <%= f.number_field :shower_sqft %>
    <br>
    <%= f.label :mirror %><br>
    <%= f.text_field :mirror %>
    <br>
    <%= f.label :bath_fan %><br>
    <%= f.text_field :bath_fan %>
  </div>
  <div id="ac" style="display:none;">
    <%= f.label :ac_type %><br>
    <%= f.text_field :ac_type %>
    <br>
    <%= f.label :ac_size %><br>
    <%= f.number_field :ac_size %>
    <br>
    <%= f.label :duct_work %><br>
    <%= f.text_field :duct_work %>
  </div>
  <div id="hsize" style="display:none;">
    <%= f.label :home_sqft %><br>
    <%= f.number_field :home_sqft %>
  </div>

  <div id="more" style="display:none;">
    <%= f.label :more_detail %><br>
    <%= f.text_area :more_detail %>
  </div>

  <div id="length" style="display:none;">
    <%= f.label :length %><br>
    <%= f.number_field :length %>
  </div>
  <div id="width" style="display:none;">
    <%= f.label :width %><br>
    <%= f.number_field :width %>
  </div>
  <div id="fence" style="display:none;">
    <%= f.label :fence_material %><br>
    <%= f.text_field :fence_material %>
  </div>
  <div id="window" style="display:none;">
    <%= f.label :window_type %><br>
    <%= f.text_field :window_type %>
  </div>
  <div id="qty" style="display:none;">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <button type="submit">
    Post
  </button>
<% end %>
</div>
</body>
