
<form>
  <div class="search"><%= form_tag search_path do %>
    <%= search_field_tag :term, 'site search' %>
    <%= submit_tag "Go!" %>
  <% end %>
  </div>
</form>
<p id="notice"><%= notice %></p>
<body class="projectbody">
<div class="projecthead">
<h1 class="projectstitle"><u>Active Projects</u></h1><br><br><br>
</div>

<div class="container">

  <body>
    <div class="list">

    <% @projects.each do |project| %>
    <p>
      <% if project.url1 == "" %>
      <%= image_tag "http://www.medillnews847.com/madeinchicago/midwife/img/home.png" %>
      <% else %>
      <img class="prodimg"><%= image_tag project.url1%></img>
      <% end %>
        <span><%= link_to project.title, project %></span><br>
        <span><%= project.description %></span><br>
        <span><%= project.created_at.strftime("%B %d, %Y") %></span><br>
        <% if project.bids.last == nil %>
        <span><b><%= "No Bids Yet" %></b></span><br>
        <% else %>
          <span><b>lastest bid</b><br>$ <%= project.bids.last.bid %></span><br>
          <% end %>

      <% if current_user.try(:id) == project.user_id %>
      <span><%= link_to 'Edit', edit_project_path(project) %></span><br>

      <% end %>

    </ul>
  </div>
    <% end %>

    </p>
  </div>
  </body>

</div>
</div>

<br>
<% @users.each do |user| %>
<% if user.id == current_user.try(:id) && user.profile != nil && user.profile.vendor == false %>
<%= link_to 'New Project', new_project_path %>
<% end %>
<% end %>
<body>
