<p id="notice"><%= notice %></p>
<body class="projectbody">
<div class="projecthead">
<h1 class="projectstitle">Projects</h1>
</div>

<div class="container">
  <body>
    <% @projects.each do |project| %>
      <div class="projects" style="margin-top: 10px;">
        <li class="propic"><%= image_tag project.url1%></li>
        <ul class="projectsul">
        <li class="protitle"><%= project.title %></li>
        <li class="protitle"><%= project.description %></li>
        <li class="protitle"><%= project.date %></li>
        <% if project.bids.last == nil %>
        <li class="protitle"><%= "No Bid" %></td>
        <% else %>
          <li class="protitle"> <b>lastest bid</b><br>$ <%= project.bids.last.bid %></li>
          <% end %>
        <li class="protitle"><%= link_to 'Show', project %></li>
      <% if current_user.try(:id) == project.user_id %>
        <li class="protitle"><%= link_to 'Edit', edit_project_path(project) %></li>
      <% end %>
    </ul>
    </div>
    <% end %>
  </body>
</div>
</div>

<br>
<% @users.each do |user| %>
<% if user.id == current_user.try(:id) && user.profile != nil && user.profile.vendor == false %>
<%= link_to 'New Project', new_project_path %>
<% end %>
<% end %>
<body>
