<div class="profileshowcontainer">
<p id="notice"><%= notice %></p>
<div class="profileshowphoto">
<p>
  <%= image_tag @project.main.url(:square) %>

</p><br><br><br>
</div>
<div class="profileshowtext">
<p>
  <% unless @project.title == "" %>
  <strong>Title:</strong><br>
  <%= @project.title %>
  <% end %>
</p>

<p>
  <% unless @project.description == "" %>
  <strong>Description</strong><br>
  <%= @project.description %>
  <% end %>
</p>

<p>
  <% unless @project.budget == nil %>
  <strong>Budget</strong><br>
  $<%= @project.budget %>
  <% end %>
</p>


<p>
  <% unless @project.created_at == nil %>
  <strong>Created</strong><br>
  <%= @project.created_at.strftime("%B %d, %Y") %>
  <% end %>
</p>

<p>
  <% unless @project.location_city == "" %>
  <strong>Location city</strong><br>
  <%= @project.location_city %>
  <% end %>
</p>

<p>
  <% unless @project.ends == "" %>
  <strong>Ends</strong><br>
  <span>in </span><%= @project.ends %><span> days</span>
  <% end %>
</p>



<p>  <% unless @project.kitchen == nil %>
  <strong>Kitchen</strong><br>
  <%= @project.kitchen %>
  <% end %>
</p>


<p>  <% unless @project.sqft == "" %>
  <strong>Sqft</strong><br>
  <%= @project.sqft %>
  <% end %>
</p>


<p>  <% unless @project.number_of_cabinets == nil %>
  <strong>Number of cabinets </strong><br>
  <%= @project.number_of_cabinets %>
  <% end %>
</p>

<p> <% unless @project.countertop_style == "" %>
  <strong>Countertop style</strong><br>
  <%= @project.countertop_style %>
  <% end %>
</p>


<p> <% unless @project.counter_top_length == nil %>
  <strong>Counter top length</strong><br>
  <%= @project.counter_top_length %>
  <% end %>
</p>


<p> <% unless @project.number_of_outlets == nil %>
  <strong>Number of outlets</strong><br>
  <%= @project.number_of_outlets %>
  <% end %>
</p>

<p> <% unless @project.light_fixture_type == "" %>
  <strong>Light fixture type</strong><br>
  <%= @project.light_fixture_type %>
  <% end %>
</p>

<p> <% unless @project.floor_sqft ==  nil %>
  <strong>Floor sqft</strong><br>
  <%= @project.floor_sqft %>
  <% end %>
</p>

<p> <% unless @project.floor_type ==  "" %>
  <strong>Floor type</strong><br>
  <%= @project.floor_type %>
  <% end %>
</p>

<p> <% unless @project.bath == nil %>
  <strong>Bath</strong><br>
  <%= @project.bath %>
  <% end %>
</p>

<p> <% unless @project.vanity_width == nil %>
  <strong>Vanity width</strong><br>
  <%= @project.vanity_width %>
  <% end %>
</p>

<p> <% unless @project.tub_length == nil %>
  <strong>Tub length</strong><br>
  <%= @project.tub_length %>
  <% end %>
</p>

<p> <% unless @project.shower_sqft == nil %>
  <strong>Shower sqft</strong><br>
  <%= @project.shower_sqft %>
  <% end %>
</p>

<p> <% unless @project.mirror == "" %>
  <strong>Mirror</strong><br>
  <%= @project.mirror %>
  <% end %>
</p>

<p> <% unless @project.bath_fan == "" %>
  <strong>Bath fan</strong><br>
  <%= @project.bath_fan %>
  <% end %>
</p>

<p> <% unless @project.air_conditioning == nil %>
  <strong>Air conditioning</strong><br>
  <%= @project.air_conditioning %>
  <% end %>
</p>

<p> <% unless @project.ac_type == "" %>
  <strong>Ac type</strong><br>
  <%= @project.ac_type %>
  <% end %>
</p>

<p> <% unless @project.home_sqft == nil %>
  <strong>Home sqft</strong><br>
  <%= @project.home_sqft %>
  <% end %>
</p>

<p> <% unless @project.ac_size == nil %>
  <strong>Ac size</strong><br>
  <%= @project.ac_size %>
  <% end %>
</p>

<p> <% unless @project.duct_work == "" %>
  <strong>Duct work</strong><br>
  <%= @project.duct_work %>
  <% end %>
</p>

<p> <% unless @project.roof == nil %>
  <strong>Roof</strong><br>
  <%= @project.roof %>
  <% end %>
</p>

<p> <% unless @project.exterior_general == nil %>
  <strong>Exterior general</strong><br>
  <%= @project.exterior_general %>
  <% end %>
</p>

<p> <% unless @project.more_detail == "" %>
  <strong>More detail</strong><br>
  <%= @project.more_detail %>
  <% end %>
</p>

<p> <% unless @project.paint == nil %>
  <strong>Paint</strong><br>
  <%= @project.paint %>
  <% end %>
</p>

<p> <% unless @project.floor == nil %>
  <strong>Floor</strong><br>
  <%= @project.floor %>
  <% end %>
</p>

<p> <% unless @project.floor_demo == "" %>
  <strong>Floor demo</strong><br>
  <%= @project.floor_demo %>
  <% end %>
</p>


<p> <% unless @project.pool == nil %>
  <strong>Pool</strong><br>
  <%= @project.pool %>
</p>
<% end %>

<p> <% unless @project.drive_way == nil %>
  <strong>Drive way</strong><br>
  <%= @project.drive_way %>
  <% end %>
</p>

<p> <% unless @project.length == nil %>
  <strong>Length</strong><br>
  <%= @project.length %>
  <% end %>
</p>

<p> <% unless @project.width == nil %>
  <strong>Width</strong><br>
  <%= @project.width %>
  <% end %>
</p>

<p> <% unless @project.landscaping == nil %>
  <strong>Landscaping</strong><br>
  <%= @project.landscaping %>
  <% end %>
</p>

<p> <% unless @project.fence == nil %>
  <strong>Fence</strong><br>
  <%= @project.fence %>
  <% end %>
</p>

<p> <% unless @project.fence_material == "" %>
  <strong>Fence material</strong><br>
  <%= @project.fence_material %>
  <% end %>
</p>

<p> <% unless @project.windows == nil %>
  <strong>Windows</strong><br>
  <%= @project.windows %>
  <% end %>
</p>

<p> <% unless @project.window_type == "" %>
  <strong>Window type</strong><br>
  <%= @project.window_type %>
  <% end %>
</p>

<p> <% unless @project.quantity == nil %>
  <strong>Quantity</strong><br>
  <%= @project.quantity %>
  <% end %>
</p>

<p> <% unless @project.electrical == nil %>
  <strong>Electrical</strong><br>
  <%= @project.electrical %>
  <% end %>
</p>

<p> <% unless @project.plumbing == nil %>
  <strong>Plumbing</strong><br>
  <%= @project.plumbing %>
  <% end %>
</p>

<p>
  <% unless @project.handy_man == nil %>
  <strong>Handy man</strong><br>
  <%= @project.handy_man %>
  <% end %>
</p>
</div>
<br>
<br>
<% if @project.closed %>
<h3>This project is closed, and the following bid was accepted</h3>
<%= @project.bids.where(:accepted == true) %>

<% else %>
  <h3>Current Bids</h3>
<% @project.bids.each do |bid| %> <p>
  <%=link_to bid.user.profile.company, bid.user.profile%>
$<%= bid.bid %>
<% if bid.user == current_user%>
<%= link_to 'Edit Your Bid', edit_bid_path(bid) %>
<% end %>
<br>
Added on: <%= bid.created_at.strftime("%B %d, %Y") %><br>
<% if current_user == bid.project.user%>
<%=  link_to 'Accept This Bid', closed_project_path(bid.project, bid_id: bid.id) %>
</p>
<% end %>
<% end %>
<% end %>
<br>
<br>

  <h3>Questions/Comments</h3>
<% @project.comments.each do |comment| %> <p>
<b>Posted by</b><br><%=comment.user.email%><br>
<b>Comment</b><br><%= comment.body %><br>
</p>
<% end %>
<br>
<br>


<% if current_user && current_user.profile && current_user.profile.vendor? && @show_bid_form  %>
  <h3>Bid on this Project</h3>
  <%= form_for [@project, @bid] do |f| %>
    <div class="field">
      <%= f.label bid %><br>
      <%= f.number_field :bid %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

<br>

<div class="profilecomments">
<% if current_user && current_user.profile %>
<%= form_for [@project, @comment] do |f| %>
  <div class="field">
    <%= f.label :Ask_a_Question_or_Post_a_comment_on_this_project %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
  <% end %>
  <% end %>
<% if @project.user_id == current_user.try(:id) %>
<%= link_to 'Click Here to Edit, Accept, or Close', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<% end %>
